.container{
 
    background: midnightblue;
    width: 600px;
   }
   
   .nav{
       background-color: #5980ce;
       padding: 1rem;
   }
   
   .nav-link{
       color: #fff;
       font-weight: 700;
       text-decoration: none;
       padding: 0.8rem;
   }
   
   main{
       color: #ffff;
       padding: 0.8rem;
   }
   
   
   footer p{
       color: #fff;
       text-align: center;
   }
   main p{
       color: #fff;
   }
   h3{
       text-align: center;
       color: crimson
   }
   h2{
       text-align: center
   }